<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="intervalMs" value="1000" />
    <add key ="secondRange" value="0,10"/>
    <add key="watchIpAndPort" value="1.1.1.94:8080" />
    <add key="serviceName" value="FreeProxy" />
    <add key="lineCount" value="30" />
  </appSettings>
</configuration>